venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

/log/**/
!/log/.keep
!/log/user_api/.keep

/**/tmp/
!/**/tmp/.keep

src/
*.pt

server.spec
tmp/

**/.DS_Store
**/.ipynb_checkpoints

db/sqlite/*
!db/sqlite/.keep

db/data/*
!db/data/.keep
!db/data/sap_middle_fake.csv
!db/data/sap_fusing_fake.csv
!db/data/inv_result_fake.csv

db/test/*
!db/test/.keep

configs/secrets.py
